#id1{
	text-decoration: none;
	color: blue;
    margin-top: 100px;	
    margin-left: -20px;
}
#id2{
	margin-left: 200px;
	margin-top: 20px;
	width: 500px;
	padding-left: 30px;
	
}
.divmax{
	width: 600px;
	height: 200px;
	margin: 50px auto;
}
